/* .move.right {
    margin-left: 50px;
}

.card-img-top {
    width: 100px;
    border: #000 solid 1px;
}

body {
    background-color: red;
}
.imagen-card-cel {
    height: 100px;
    object-fit: cover;
}

.card-title {
    margin-top: -50px !important;
} */